{% extends 'base.html.twig' %}

{% block title %}Portefolio Adeline Gilet{% endblock %}

{% block body %}

    <div id="firstPart">
        <div class="principalTitle">
{#            <h1 id="typewriter">Adeline GILET<span id="cursor">|</span></h1>#}
            <h1 id="typewriter">Adeline GILET</h1>
            <h2 id="typewriter-delayed">Développeuse web</h2>
        </div>
{#        <a class="btn btn-profil">Plus d'info</a>#}
                <button class="btn btn-profil">Plus d'info</button>
    </div>


{% endblock %}
