#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 80px;
    background: rgba(12, 12, 12, 0.62);
    position: fixed;
    left: 0;
    right: 0;
    margin: 30px auto 0;
    border-radius: 10px;
    box-shadow: 0 0 1.5px 1px $primary, 0 0 1.5px 1px $primary inset;
    z-index: 3;
    @media screen and (max-width: 780px) {
        width: 550px;
    }
    @media screen and (max-width: 600px) {
        width: 450px;
    }
    @media screen and (max-width: 500px) {
        width: 400px;
    }
    @media screen and (max-width: 470px) {
        width: 85%;
        height: 50px;
    }
}

#avatarLink {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2px;
}

a .avatar{
    width: 3rem;
    border-radius: 50%;
    @media screen and (max-width: 560px) {
        width: 2rem;
    }
    @media screen and (max-width: 780px) {
        width: 1.5rem;
    }
}

ul#nav-ul {
    padding: 2px;
}

ul a {
    text-decoration: none;
    color: $primary;
    position: relative;
    display: inline-block;
}

.svg{
    width: 17px;
    height: 17px;
}

.fa-github {
    font-size: 52px;
    margin-left: 15px;
}
#nav-ul {
    margin-bottom: 0;
    li {
        list-style-type: none;
        font-family: $text;
        font-size: 1.27rem;
        display: inline;
        margin: 16px;
        @media screen and (max-width: 780px) {
            font-size: 1.00rem;
            margin: 12px;
        }
        @media screen and (max-width: 560px) {
            font-size: 0.8rem;
            margin: 5px;
        }
    }
    a {
        @media screen and (max-width: 560px) {
            line-height: 26px;
        }
        line-height: 52px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }
    a:hover {
        background: $primary;
        color: $dark-gray;
    }
    a:onclick {
        background: black;
        color: white;
    }
}

@media screen and (max-width: 470px) {
    #cv-link {
        display: none;
    }
}
