#secondPart {
  color: $primary;
  display: flex;
  justify-content: center;
}

.aboutMe{
  position: relative;
  max-width: 800px;
  margin: 55px auto;
  padding: 7rem 50px 50px;
  border: 2px solid #FFB6C1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.5);
}

#secondPart h1,
#secondPart .qui-suis-je {
  margin: 55px auto;
}

#secondPart h1 {
  position: absolute;
  margin-top: 91px;
  left: 0;
  z-index: 1;
  padding: 0;
}

#secondPart .qui-suis-je {
  position: absolute;
  right: 0;
  opacity: 0.2;
  font-size: 72px;
}

#secondPart img{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.dev-web {
  font-weight: bold;
  color: $secondary;
}

.aboutMe a{
  display: flex;
  justify-content: center;
  text-decoration: none;
}